
body{    
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1%;
   
    #blackBox{      
        background-color: black;
        opacity: 0.5;     
        margin-left: 18%;
        margin-right: 18%;
        padding-bottom: 5%;
        text-align: center;
        
        header>h1{            
            color: green;
            margin-top: 0%; 
            margin-bottom: 0%;
        }

        .logo{
            width: 20%;
            margin-top: 8%;
        }

        nav{
            background-color: green;
            margin-left: 10%;
            margin-right: 10%;
        }

        nav>button{
            margin-top: 1%;
            margin-bottom: 1%;
        }

        main{
            text-align: left;
            color: white;           
            margin-top: 2%;
            margin-left: 10%;
            margin-right: 10%;


           div>span{
            display: inline-block;
            font-size: x-large;
           } 
           
           div>h4{
            margin-top: 0%;
            margin-bottom: 0%;
           }

           #istoGino{
            width: 30%;        
            background-color:orange;
            margin-bottom: 2%;
            padding: 1%;   
           }

           #istoMike{
            width: 60%;
            background-color:green;
            margin-bottom: 2%;
            padding: 1%;
           }

           #istoFede{
            width: 15%;
            background-color:red;
            padding: 1%;
           }
        }

    }
    
}  